<link rel="stylesheet" href="/stylesheets/card.css">
<div class="header">
	<i class="angle double left icon"></i>
</div>
<div class="main-board">
	<div class="card">
		<div class="card-header">
			<span class="media">
				<img src="/images/icon_water.png" alt="">
			</span>		
			自来水缴费
		</div>
		<div class="content">
			<ul class="card-list">
				<li>
					<span class="label">缴费单位</span>
					<span class="form-control"><a href="#">江油鸿飞集团</a></span>
				</li>
				<li>
					<span class="label">用户户号</span>				
					<input type="text" class="form-control" placeholder="请查看缴费卡或纸制对账单">
				</li>	
				<li>
					<span class="label">备注名称</span>
					<input type="text" class="form-control" placeholder="请输入备注名称">
				</li>											
			</ul>
		</div>
		<div class="card-footer">
			<button class="ui submit-btn">查询</button>			
		</div>
	</div>
</div>