@import (reference) '_base/bracket.import.less';

.submit-toolbar {
	cursor: pointer;
	.height(40px);		
	.line-height(40px);
	text-align: center;		
}

.item-board {
	background-color: #fff;
	padding-left: 12px;
	.item-link {
		border-radius: 0;
		margin-bottom: 0;
		border-bottom: solid 1px #ddd;
	}
	.item-link {
		height: auto;		
		.item-inner {
			padding: 10px 0;			
			.display(flex);
			.flex(1);		
			.line-height(20px);
			vertical-align: middle;			
			.main {
				padding: 0 8px;	
				.width(120px);	
				font-size: 14px;						
			}
			.item-title {
//				border-right: solid 1px #ddd;
				position: relative;
				&:before {
					content: "";
					border-right: solid 1px #ddd;
					display: inline-block;
					height: 14px;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -7px;					
				}
			}
			.item-note {
				.flex(1);
				color: @gray;
				font-size: 14px;
			}				
			.item-hint {
				color: @gray;		
			}
		}

	}	
}


.item-board {
	.item-right {

	}
	.btn {
		.padding(10px);	
		height: 100%;
		float: right;
	}
	.btn.delete {
		margin-right: -12px;
	}
	i.delete {
		position: relative;
		&:before {
			content: "";
			border-left: solid 1px #ccc;		
			position: absolute;
			height: 100%;
			width: 1px;
			left: 0;
			top: 0;
			.margin-left(-10px);
		}
	}
	i.edit,i.delete {
		display: inline-block;
//		float: left;
		.size(20px);		
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;	
	}
	i.edit {
		background-image: url(/images/icon_pen.png);	
	}
	i.delete {
		background-image: url(/images/icon_delete.png);  
	} 
	
}

