@import (reference) '_base/bracket.import.less';
.item-list-box {
	ul.item-list {
		padding-right: 0;		
		font-size: 14px;
		>li {
			.height(48px);
			color: @gray;
			&.active {
				color: #000;		
				>.form-control {
					visibility: visible;
				}
			}
			>.form-control {
				padding-right: 12px;
				font-size: 16px;
				color: @theme-color;
				visibility: hidden;
			}
		}				
	}
}