@import (reference) '_base/bracket.import.less';

.card {
	background-color: #fff;
	border-radius: 6px;
	overflow: hidden;		
//	padding: 10px 0;	
	padding-bottom: 10px;
	.card-header {
		.height(60px);
		.line-height(60px);
		padding: 0 10px;
		border-bottom: solid 1px #ddd;
		.media {
			>img {
				.height(30px);
				width: auto;
				vertical-align: middle;
				margin-right: 8px;
			}
		}		
	}	
	ul.card-list li {
		.height(42px);
		.display(flex);
		.align-items(center);
		border-bottom: solid 1px #ddd;
		.label {

		}
		.form-control {
			.flex(1);
			text-align: right;
			.placeholder('#a6a6a6');	
			border: 0;
			margin-left: 8px;
			>a {
				color: @theme-color;
			}			
		}
	}
	.content {
		padding-left: 10px;
		padding-right: 10px;
	}
	.card-footer {
		.padding-top(28px);
		padding-left: 16px;
		padding-right: 16px;
	}
}