@import (reference) '_base/bracket.import.less';
@import '_base/normalize.import.less';
@import '_base/rem-layout.less';

@import '../semantic-ui-icon/icon.css';

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
	background-color: #e6e6e6;	
}

.views {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 200;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

button {
	background: none;
}

a.link,span.link {
	color: @theme-color;
}

i.icon {
	margin: 0;
}

.header {
	background-color: #fff;
	.height(40px);
	.line-height(40px);
	width: 100%; 	
//	.main-padding-like();
	padding-left: 12px;
	border-bottom: solid 1px #ddd;
	.link {
	 display: inline-block;
	.main-padding-like();		
	}
	position: relative;
	z-index: 80;
} 

.main-board { 
	.main-padding()
}
.wrapper {
	padding-top: 12px;
}

.item-link {
	.height(50px);
	.main-padding-like();
	background-color: #fff;
	border-radius: 4px;
	.margin-bottom(8px);
	.display(flex); 
	.align-items(center);
	>.item-media {
		line-height: 0;
		>img {
			.height(30px);
			width: auto;
		} 
	}
	>.item-title {
		.flex(1);
		padding-left: 8px;
	}
	.icon {
		color: @gray;
		font-size: 20px;
	}
}

.theme() {
	background-color: @theme-color;
	color: #fff;	
}
.submit-btn {
	.theme();
	border: solid 1px @theme-color;	
	.height(36px);
	width: 100%;
	border-radius: 4px;
}
.normel-btn {
	background-color: transparent;
	border: solid 1px @theme-color;
	.height(36px);
	width: 100%;
	border-radius: 4px;
	color: @theme-color;
}

/* 辅助类 */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.toolbar {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fff;
}

.block {
	.height(40px);
	.line-height(40px);
	color: @gray;
	.main-padding-like();
}

.hide {
	visibility: hidden;
}

.item-list-box {
	background-color: #fff;	
	.item-list {		
		.main-padding-like();		
	}
}

ul.item-list li {
	.display(flex);
	.align-items(center);
	min-height: 24px;
	border-bottom: solid 1px #ddd;
	&:last-child {
		border-bottom: 0;
	}
	>.label {

	}
	>.media {
			>img {
				.height(30px);
				width: auto;
				vertical-align: middle;
				margin-right: 8px;
			}
	}		
	>.form-control {
		.flex(1);
		text-align: right;
		margin-left: 8px;
		>a {
			color: @theme-color;
		}			
	}
}
//ul.item-list>(li>.label+.form-control)*n

//Switch
.label-switch {
    display: inline-block;
    vertical-align: middle;
    width: 2.6rem;
    border-radius: 0.8rem;
    box-sizing: border-box;
    height: 1.6rem;
    position: relative;
    cursor: pointer;
    .align-self(center);
    .checkbox {
        width: 2.6rem; 
        border-radius: 0.8rem;
        box-sizing: border-box;
        height: 1.6rem;
        background: #e5e5e5;
        z-index: 0;
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border:none;
        cursor: pointer;
        position: relative;
        transition-duration: 300ms;
        &:before {
            content:' ';
            position: absolute;					
            left: 0.1rem;
            top: 0.1rem;
            width: 2.4rem;
            border-radius: 0.8rem;
            box-sizing: border-box;
            height: 1.4rem;
            background: #fff;
            z-index: 1;
            transition-duration: 300ms;
					  -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after {
            content:' ';
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 1.4rem;
            background: #fff;
            position: absolute;
            z-index: 2;
            top: 0.1rem;
            left: 0.1rem;
            box-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.4);
					  -webkit-transform: translateX(0px);
            transform: translateX(0px);
            transition-duration: 300ms;
        }
    }
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        width: 2.6rem;
        height: 1.6rem;
				left: 0;
				top: 0;
        z-index: 1;
        &:checked {
            &+ .checkbox {
                background: #4cd964;
                &:before {
									  -webkit-transform: scale(0);
                    transform: scale(0);
                }
                &:after {
									  -webkit-transform: translateX(1.1rem);
                    transform: translateX(1.1rem);
                }
            }
        }
    }
}

#night {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1000;
	display: none;	
}