@import (reference) '_base/bracket.import.less';

.item-board {
	background-color: #fff;
	.item-link {
		border-radius: 0;
		margin-bottom: 0; 
		border-bottom: solid 1px #ddd;
	}
	.item-link {
		height: auto;
		padding: 10px 0;		
		.item-inner {
			.display(flex);
			.flex(1);		
			.line-height(20px);
			vertical-align: middle;			
			.main {
				padding: 0 8px;	
				font-size: 14px;						
			}
			.item-note {
				.flex(1);
				color: @gray;
				font-size: 14px;
			}				
			.item-hint {
				color: @gray;		
			}
		}
		.item-right {
			font-size: 14px;
			i.icon {
				font-size: 17px;
				vertical-align: -1px;
			}
			.state {
				margin-bottom: 4px;
			}
			.time {
				color: @gray;
				font-size: 12px;
			}
		}		
	}	
	.divide {
		margin-left: 6px;
		margin-right: 6px;
	} 
}

.header {
	position: fixed;
  top: 0;
  left: 0;
	width: 100%;
}
.views {
   padding-top: 40px;
   padding-bottom: 2.5rem;		
}

.dropdown {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	.padding-top(40px); 
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7); 
	ul>li {
		background-color: #fff;		
		.height(48px);
		.line-height(48px);
		vertical-align: middle;
		.main-padding-like();
		border-bottom: solid 1px #ddd;
		font-size: 14px;
		.media {
			>img {
				.height(30px);
				width: auto;
				vertical-align: middle;
				margin-right: 8px;
			}
		}
	}
}