@import (reference) '_base/bracket.import.less';

#content {
	background-color: #fff;
	.title {
		.line-height(24px);
		vertical-align: middle;		
		font-size: 18px;	
		margin-bottom: 6px;		
	}	
	.date {
		color: @gray;
		font-size: 14px;		
		.margin-bottom(10px);		
	}
	.content {
		font-size: 14px;
		.line-height(20px);
		vertical-align: middle;
		p {
			.margin-bottom(10px);
		}
	}
}

.white {
	background-color: #fff !important;
}

.notify-item {	
//	padding-left: 12px;
	li {
		padding: 10px 0;
		border-bottom: solid 1px #ddd;
		&:last-child {
		border-bottom: 0;			
		}
	}
	.item-title {
		.display(flex);
		.align-items(center);
		margin-bottom: 6px;
		.item-left {
			.flex(1); 
			font-size: 16px;
			font-weight: 500;
			
		}
		.item-right {
			color: @gray;
			font-size: 14px;
		}
	}
	.item-content {
		font-size: 14px;
		color: @gray;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}