@import (reference) '_base/bracket.import.less';
.main-box {
	min-height: 100%;
	position: relative;
	.padding-bottom(58px);
}
.item-list-box {
	font-size: 12px; 
	.margin-top(10px);
	.item-header {
		font-size: 14px;
		.height(48px);
		.display(flex);
		.align-items(center);
		border-bottom: solid 1px #ddd;
		.main-padding-like();
		.media {
			>img {
				.height(30px);
				width: auto;
				vertical-align: middle;
				margin-right: 4px;
			}
		}				
	}
	ul.item-list li {
		.height(32px);
		.form-control {
			color: @gray;		
			&.light {
				color: #000;
			}
		}		
	}	
	&.switch {	
		ul.item-list li {
			.height(36px);
		}		
	}
}

.submit-box {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	.height(38px);
	.display(flex);
	.align-items(center);
//	.margin-top(20px);
	background-color: #fff;
	.content {
		.flex(1);
		.main-padding-like();	
		.display(flex);		
		.name {
			.flex(1)
		}
		.price {
			font-weight: 500;
			margin-right: 6px;
		}
	}
	button {
		background-color: @theme-color;
		color: #fff;
		.width(80px);		
		height: 100%;
		font-size: 14px;
	}	 
	span.note {
		color: @gray;
		font-size: 12px;
	}
}

//
.btn-box {
	.main-padding-like();
	.margin-top(48px);
} 

.center-icon {
	text-align: center;
	.padding-top(20px);
	.padding-bottom(20px);	 
	border-bottom: solid 1px #ccc;
	.media {
		.margin-bottom(10px);	
		line-height: 0;
		>img {
		.size(64px); 			
		}
	}
	.state {
		font-size: 14px; 		
	}	
}

.views #boardwalk {
	display: none;
}

#night #boardwalk {
	display: block;
}

#boardwalk {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 200;
}

#boardwalk {
	.sg-header {
		.height(46px);
		.display(flex);
		.align-items(center);
		border-bottom: solid 1px #ddd;
		.main-padding-like();		
		.media {
			.media();
		}
	}
	.sg-board {
		.height(76px);
		.display(flex);
		.align-items(center);
		border-bottom: solid 1px #ddd; 
		.text-center {
			.flex(1);
		}
		.name {
			font-size: 14px;
			.margin-bottom(12px);
		}
		.price {
			font-size: 18px;
		}
	}
	.sg-footer {
		.margin-top(36px);
		.main-padding-like();		
		.padding-bottom(20px);
	}
	.submit-btn {
		.margin-bottom(10px);
	}	
	.sg-content {
		.main-padding-like();		
	}
	ul.item-list li {
		.height(40px); 
		.media {
			.media();
		}
		.form-control {
			color: @gray;
		}
		span.gray {
			color: @gray; 
			margin-left:4px;
		}
		&:last-child {
			border-bottom: solid 1px #ddd;			
		}
	}
}
