@import (reference) '_base/bracket.import.less';

.center-icon {
	text-align: center;
	.padding-top(20px);
	.padding-bottom(20px);	 
	border-bottom: solid 1px #ccc;
	i.icon {
		color: @theme-color;
		.font-size(64px); 
		.margin-bottom(10px);		
	}
	.state {
		.margin-bottom(16px);
		font-size: 14px; 		
	}
	.name {
		.margin-bottom(10px);
		color: @gray;
		font-size: 14px; 
	}
	.price {
		span {
			.font-size(24px);
		}
	}
}

.board {
	background-color: #fff;
	.inner {
		.main-padding-like(); 
	}
}

ul.item-list li {
	font-size: 14px;
	.height(32px);
	.form-control {
		color: @gray;
	}	
}

.hint-bar {
	font-size: 12px;
	.main-padding-like();
	.padding-top(16px);
	.padding-bottom(16px);	
	color: @gray;
	line-height: 1.68;
	vertical-align: middle;
}

.submit-box {
	.main-padding-like();	
	.margin-top(10px);
	.margin-bottom(10px);	
}