@import (reference) '_base/bracket.import.less';

.weter-board{ 
	background-color:#FCFCFC;
	.margin-top(10px);
	.weter-header{
		.padding(6px 15px);
		border-bottom:1px solid #e6e6e6;
		> img{
			.width(35px);
			vertical-align:middle;
		}
	}  
	.bill-board{
		.padding(8px 0 8px 15px);
		border-bottom:1px solid #e6e6e6;
		.bill-userID{
			.userID-name{
				.margin(0);
				.userID{
					.margin-left(15px);
				}
			}
		}
		.binding-bill{
			.margin-top(8px);
			> p{
				.padding(0);
				.margin(0);
			}
			.binding-info{
				.font-size(12px);
				color:#b3b3b3;
			}
		}
	}
	.information{
		.padding-left(15px);
		.infor-list{
			.padding(10px 0);
			.infor-num{
				float:right;
				.margin-right(15px);
				color:#b3b3b3;
			}
		}
		.infor-list + .infor-list{
			border-top:1px solid #e6e6e6;
		}
	}
}
.btn-default{
	width:100%;
	.padding(0 15px);
	.margin-top(30px);
	button.btn{
		background-color:#20A4EF;
		width:100%;
		color:#fff;
		.border-radius(4px);
		.padding(10px 0);
	}
}
.payment-board{
	background-color:#FCFCFC;
	.padding-left(15px);
	.fixation{
		> p.label{
			.margin(0);
			.padding(12px 0);
		}
		ul.fix-group{
			.display(flex);
			li.fix-num{
				.flex(1);
				text-align:center;
				border:1px solid #20A4EF;
				.margin-right(12px);
				color:#20A4EF;
				.padding(6px 0);
				.border-radius(4px);
			}
			li.fix-num.active{
				background-color:#20A4EF;
				color:#fff;
			}
		}
	}
	.define{
		.margin-top(20px);
		.define-name{
			.margin(0);
			.padding(8px 0);
			border-bottom:1px solid #e6e6e6;
		}
		.define-content{
			.padding(10px 0);
			> img{
				.width(30px);
				vertical-align: middle;
			}
			> input{
				float:right;
				.margin(3px 15px 0 0);
				border:none;
				outline:none;
				.width(215px);
				text-align:right;
			}
		}
	}
}