<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../../resources/stylesheets/common.css">
  <!-- <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script> -->
  <script src="../../resources/js/lib/jquery-1.11.2.min.js"></script>
  <script src="../../resources/js/lib/hogan-3.0.1.min.js"></script>

</head>

<body>
  <div class="views">
    <link rel="stylesheet" href="../../resources/stylesheets/history.css">
    <div class="header">
      <i class="angle double left icon"></i>
      <a href="javascript:;" class="link pull-right">筛选</a>
    </div>
    <div class="dropdown">
      <ul>
        <li>
          <span class="media">
				<img src="../../resources/images/icon_water.png" alt="">				
			</span>
          <span class="name" data-type="01">自来水缴费</span>
        </li>
        <li>
          <span class="media">
				<img src="../../resources/images/icon_watermeter.png" alt="">					
			</span>
          <span class="name" data-type="02">远程水表充值</span>
        </li>
        <li>
          <span class="media">
				<img src="../../resources/images/icon_naturalgas.png" alt="">				
			</span>
          <span class="name" data-type="03">天然气缴费</span>
        </li>
      </ul>
    </div>
    <div class="wrapper" id="item-list">

      <div class="block">
        2016年6月
      </div>
      <div class="item-board">
        <a class="item-link" href="#">
          <div class="item-media">
            <img src="../../resources/images/icon_water.png" alt="">
          </div>
          <div class="item-inner">
            <div class="main">
              <div class="item-title">
                自来水缴费
              </div>
              <div class="item-hint">
                ID <span>3222244466</span><span class="divide">|</span>备注
              </div>
            </div>
          </div>
          <div class="item-right">
            <div class="state">
              <span>缴费成功</span><i class="angle right icon"></i>
            </div>
            <div class="time">
              09-23 17:55
            </div>
          </div>

        </a>
        <a class="item-link" href="#">
          <div class="item-media">
            <img src="../../resources/images/icon_water.png" alt="">
          </div>
          <div class="item-inner">
            <div class="main">
              <div class="item-title">
                自来水缴费
              </div>
              <div class="item-hint">
                ID <span>3222244466</span><span class="divide">|</span>备注
              </div>
            </div>
          </div>
          <div class="item-right">
            <div class="state">
              <span class="link">充值成功</span><i class="angle right icon"></i>
            </div>
            <div class="time">
              09-23 17:55
            </div>
          </div>

        </a>
      </div>
      <div class="block">
        2016年7月
      </div>
      <div class="item-board">
        <a class="item-link" href="#">
          <div class="item-media">
            <img src="../../resources/images/icon_water.png" alt="">
          </div>
          <div class="item-inner">
            <div class="main">
              <div class="item-title">
                自来水缴费
              </div>
              <div class="item-hint">
                ID <span>3222244466</span><span class="divide">|</span>备注
              </div>
            </div>
          </div>
          <div class="item-right">
            <div class="state">
              <span>缴费成功</span><i class="angle right icon"></i>
            </div>
            <div class="time">
              09-23 17:55
            </div>
          </div>

        </a>
      </div>

    </div>
    <script type="text/template" id="item">
      <div class="block">
      		2016年7月
      	</div>
      	<div class="item-board">
      		{{#item}}
      		<a class="item-link" href="#">
      			<div class="item-media">
      				<img src="../../resources/images/icon_water.png" alt="">
      			</div>
      			<div class="item-inner">
      				<div class="main">
      					<div class="item-title">
      						{{payType}}
      					</div>
      					<div class="item-hint">
      						ID <span>{{orderNo}}</span><span class="divide">|</span>金额: {{orderAmt}}
      					</div>
      				</div>
      			</div>
      			<div class="item-right">
      				<div class="state">
      					<span>缴费成功</span><i class="angle right icon"></i>
      				</div>
      				<div class="time">
      					{{payTime}}
      				</div>
      			</div>
      
      		</a>
      		{{/item}}
      	</div>
    </script>
    <script>
      $(".header .link").click(function(){
      	var ishidden = $(".dropdown").is(':hidden');
      	if(ishidden) {
      		$(".dropdown").show();		
      		$(this).text("取消");
      	} else {
      		$(".dropdown").fadeOut();		
      		$(this).text("筛选");	
      	}	
      })
      
      var openId = window.localStorage.getItem('openId');
      	
      $(".dropdown li").click(function(){
      	var type = $(this).find(".name").first().data("type");
      	var _data = {};
      	_data.type = type;
      	_data.openId = openId;	
      	$.ajax({
      		type: 'POST',
      		url: '/wechat/queryPaymentList',
      		dataType: "json",
          data: _data,		
      		success: function (data, status) {
      			console.log(data);
      		},
      		error: function (data, status) {
      			
      		}
      	});	
      })	
      
      var data = {
      	item: [
      		{
      			orderNo:"3222244460",		
      			payTime:"3222244460",
      			payType:"自来水缴费"
      		},
      		{
      			orderNo:"3222244460",		
      			payTime:"3222244460",
      			payType:"自来水缴费"
      		}		
      	]	
      };
      	
      function itemInfo(data) {
      		var text = $("#item").text();
      		var template = Hogan.compile(text);
      		var render = template.render(data);
      		$("#item-list").html(render);			
      }				
      //itemInfo(data);
    </script>
  </div>
  <div id="night"></div>

</body>

</html>