<!-- Simple -->
<%- include _base/doctype  %>
<head>
    <%- include _base/head  %>
</head>
<body>
    <div class="header">
       <%- include _base/header  %>
    </div> 
    <div id="container">
       <%- body -%> 
       <%- include _base/aside  %>
    </div>
    <div class="footer">
       <%- include _base/footer  %>
    </div>  
    <%- include _base/after_footer  %>
</body>
</html>

<!-- Dead-Simple -->
<%- include _base/doctype  %>
<head>
    <%- include _base/head  %>
</head>
<body>
     <%- body -%> 
    <%- include _base/after_footer  %>
</body>
</html>
