<%- include _base/slim-doctype  %>
<head>
    <%- include _base/head  %>
</head>
<body>
   <div class="views">
     <%- body -%>      	
   </div>
   	<div id="night"></div>
    <%- include _base/after_footer  %>
</body>
</html> 