<link rel="stylesheet" href="/stylesheets/account.css">
<div class="header">
	<i class="angle double left icon"></i>
	<a href="javascript:;" class="link pull-right">账户管理</a>
</div>
<div class="block">
	缴费账户
</div>
<div class="item-board" id="item-board">	
</div>
<div class="toolbar submit-toolbar">		
	<span class="link"><i class="plus icon"></i>新增缴费</span>
</div>

<script type="text/template" id="item">
{{#item}}
	<a class="item-link" href="#">	
		<div class="item-media">
			<img src="/images/{{icon}}" alt="">
		</div>	
		<div class="item-inner">
			<div class="main">
				<div class="item-title">
					{{name}}
				</div>		
				<div class="item-hint">
					ID <span>{{userNo}}</span> 	
				</div>					
			</div>
			<div class="item-note">
				 {{username}}
			</div>			
		</div>
		<i class="angle right icon"></i>		
	</a>	
{{/item}}	
</script>

<script type="text/template" id="control">
	<div class="item-right">
		<div class="btn delete">
			<i class="delete"></i>					
		</div>	
		<div class="btn edit">
			<i class="edit"></i>		  	
		</div>				
	</div>
</script>
<script>
function has(obj, propName) {
	return Object.prototype.hasOwnProperty.call(obj, propName)
}
	
var data = {
	item: [
		{
			accountType:"01",		
			userNo:"3222244460",
			username:"用户名1"
		},
		{
			accountType:"02",	
			userNo:"3222244462",
			username:"用户名2"
		},
		{
			accountType:"03",
			userNo:"3222244464",
			username:"用户名备注"
		}
	]
};

var config = {
	"01":{
		name: "自来水缴费",
		icon: "icon_water.png"
	},
	"02":{
		name:"远传水表充值",
		icon:"icon_watermeter.png"
	},
	"03":{
		name: "天然气缴费",
		icon:"icon_naturalgas.png"
	}
};
		
$(data.item).each(function(index,item){
	
	if( has(config,item.accountType) ) {

		item.icon = config[item.accountType].icon;
		item.name = config[item.accountType].name;
	}
})

var text = $("#item").text();
var template = Hogan.compile(text);
var render = template.render(data);
$("#item-board").html(render);

$(".header a.link").click(function(){
	if( !$(this).hasClass("edit") ) {
		$(this).text("确认").addClass("edit");	
		var links = $(".item-link");
		var control = $("#control").text();		
		$(links).find("i.angle").remove();
		$(links).append(control);		
	} else {
		//编辑中
		/*
		Todo http
		*/
		window.location.reload();
	}
});
</script>