<link rel="stylesheet" href="/stylesheets/bank.css">
<div class="header">
	<i class="angle double left icon"></i>
</div>
<div class="block">
	 已绑定的银行卡
</div>
<div class="item-list-box">
	<ul class="item-list">
		<li class="active">
			<div class="media">
				<img src="/images/icon_xingye.png" alt="">
			</div>
			<div class="label">兴业银行借记卡(****0040)</div>
			<div class="form-control">		
				<i class="checkmark icon"></i>		  
			</div>
		</li>
		<li>
			<div class="media">
				<img src="/images/icon_construction.png" alt="">
			</div>		
			<div class="label">招商银行信用卡(****0040)</div>
			<div class="form-control">		
				<i class="checkmark icon"></i>						  
			</div>
		</li>
		<li>
			<div class="media">
				<img src="/images/icon_merchants.png" alt="">
			</div>		
			<div class="label">建设银行借记卡(****0040)</div>
			<div class="form-control">				  
				<i class="checkmark icon"></i>				
			</div>
		</li>				
	</ul>
</div>
<script>
$(".item-list-box li").on("click", function(){
    $(this).addClass("active").siblings().removeClass("active");
});   
</script>