<div class="header">
	<i class="angle double left icon"></i>
</div>
<div class="main-board">
	<a class="item-link" href="search/water.html">	
		<div class="item-media">
			<img src="/images/icon_water.png" alt="">
		</div>	
		<div class="item-title">
			自来水缴费
		</div>
		<i class="angle right icon"></i> 
	</a>
	<a class="item-link" href="search/watermeter.html">	 
		<div class="item-media">
			<img src="/images/icon_watermeter.png" alt="">
		</div>	
		<div class="item-title">
			远传水表充值
		</div>
		<i class="angle right icon"></i>
	</a>		
	<a class="item-link" href="search/naturalgas.html">	
		<div class="item-media">
			<img src="/images/icon_naturalgas.png" alt="">
		</div>	
		<div class="item-title">
			天然气缴费
		</div>
		<i class="angle right icon"></i>
	</a>				
</div>

<script>
	//获得openid
	var openId = "sB8it9TbvAkJpr4gxqfIGdq82Wx9bIMsd7rLpgl8";
	//存openid
	window.localStorage.setItem('openId', openId);	
	//获得userNo
	var userNo = "10000065";
	window.localStorage.setItem('userNo',userNo);
	
	//用户绑定
	$.ajax({
		type: 'POST',
		url: '/wechat/bingdingUserNo',
		dataType: "json",
    data: {openId: openId},		
		success: function (data, status) {
			console.log(data);
		},
		error: function (data, status) {
			
		}
	});
</script>