<link rel="stylesheet" href="/stylesheets/notice.css">
<div class="header">
	<i class="angle double left icon"></i>
</div>
<div id="content">
	<div class="main-board">
		<div class="title">
			2016年8月20日停电通知
		</div>
		<div class="date">
			2016.08.08
		</div>
		<div class="content">
			<p>
				2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知
			</p>
			<p>
				2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知
			</p>
		</div>
	</div>
</div>