<link rel="stylesheet" href="/stylesheets/notice.css">
<div class="header">
	<i class="angle double left icon"></i>
</div>
<div class="main-board white">
	<ul class="notify-item">
		<li>
			<div class="item-title">
				<div class="item-left">
					2016年8月20日停电通知
				</div>
				<div class="item-right">
					<span>2016.08.08</span> <i class="angle right icon"></i>	
				</div>
			</div>
			<div class="item-content">
				2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知
			</div>
		</li>
		<li>
			<div class="item-title">
				<div class="item-left">
					2016年8月20日停电通知
				</div>
				<div class="item-right">
					<span>2016.08.08</span> <i class="angle right icon"></i>	
				</div>
			</div>
			<div class="item-content">
				2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知
			</div>
		</li>
		<li>
			<div class="item-title">
				<div class="item-left">
					2016年8月20日停电通知
				</div>
				<div class="item-right">
					<span>2016.08.08</span> <i class="angle right icon"></i>	
				</div>
			</div>
			<div class="item-content">
				2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知2016年8月20日停电通知
			</div>
		</li>		
	</ul>
</div>