<link rel="stylesheet" href="/stylesheets/success.css">
<div class="header">
	<i class="angle double left icon"></i>
</div> 
<div>
<div class="board">
	<div class="center-icon">
		<div><i class="check circle icon"></i></div>
		<div class="state">
			缴费成功
		</div>
		<div class="name">
			江油鸿飞集团
		</div>			
		<div class="price">
			&yen;<span>52.40</span>
		</div>
	</div>
	<div class="inner">
		<ul class="item-list">
			<li>
				<div class="label">商品</div>
				<div class="form-control">
					
				</div>
			</li>
			<li>
				<div class="label">缴费金额</div>
				<div class="form-control">
					2016年
				</div>
			</li>
			<li>
				<div class="label">户号</div>
				<div class="form-control"></div>
			</li>
			<li>
				<div class="label">交易单号</div>
				<div class="form-control"></div>
			</li>	
			<li>
				<div class="label">交易时间</div>
				<div class="form-control"></div>
			</li>						
		</ul>	
	</div>	
</div>
<div class="hint-bar">
	欠费停水(停气)用户在缴清欠费后：<br>	
	<span class="link">请拨打24小时热线电话:902011</span>申请开通水(气)表。工作人员会在接到通知后一个工作日内开通水(气)
</div>
<div class="submit-box">
	<button class="ui submit-btn">确定</button>
</div>