<link rel="stylesheet" href="/stylesheets/watermeter.css">
<div class="header">
	<i class="angle double left icon"></i>
</div>
<div class="weter-board">
	<div class="weter">
		<div class="weter-header">
			<img src="/images/icon_watermeter.png" alt="" />
			<span class="media">远传水表充值</span>
		</div>
		<div class="bill-board">
			<div class="bill-userID">
				<p class="userID-name">充值户号<span class="userID">9991428876</span></p>
			</div>
			<div class="binding-bill">
				<p class="binding-name">Ella</p>
				<p class="binding-info">远传水表绑定户号</p>
			</div>
		</div>
		<div class="information">
			<div class="infor-list">
				<span class="list-name">地&emsp;址</span>
				<span class="infor-num">延安西路1612号</span>
			</div>
			<div class="infor-list">
				<span class="list-name">备注名</span>
				<span class="infor-num">公司缴费</span>
			</div>
			<div class="infor-list">
				<span class="list-name">交易对象</span>
				<span class="infor-num">公司</span>
			</div>
			<div class="infor-list">
				<span class="list-name">交易时间</span>
				<span class="infor-num">2016.09.23</span>
			</div>
		</div>
	</div>
</div>
<div class="btn-default">
	<button type="button" class="btn">下一步</button>
</div>