<link rel="stylesheet" href="/stylesheets/watermeter.css">
<div class="header">
	<i class="angle double left icon"></i>
</div>
<div class="weter-board">
	<div class="bill-board">
		<div class="bill-userID">
			<p class="userID-name">充值户号<span class="userID">9991428876</span></p>
		</div>
		<div class="binding-bill">
			<p class="binding-name">Ella</p>
			<p class="binding-info">远传水表绑定户号</p>
		</div>
	</div>
</div>
<div class="payment-board">
	<div class="fixation">
		<p class="label">请选择充值金额</p>
		<ul class="fix-group">
			<li class="fix-num">50</li>
			<li class="fix-num active">100</li>
			<li class="fix-num">300</li>
			<li class="fix-num">500</li>
			<li class="fix-num">1000</li>
		</ul>
	</div>
	<div class="define">
		<p class="define-name">自定义金额</p>
		<div class="define-content">
			<img src="/images/icon_sum.png" alt="" />
			<input type="text" placeholder="请输入想要充值额金额" />
		</div>
	</div>
</div>
<div class="btn-default">
	<button type="button" class="btn">充值</button>
</div>
<script>
	$('.payment-board .fix-group li').on('click',function(){
		$(this).addClass('active').siblings().removeClass('active');
	})
</script>