<div id="boardwalk">
	<div class="sg-header">
		<span class="media">
			<img src="/images/icon_water.png" alt="">			
		</span>自来水缴费
	</div>
	<div class="sg-board">
		<div class="text-center">
			<div class="name">江油鸿飞服务平台</div>
			<div class="price">52.40</div>			
		</div>
	</div>
	<div class="sg-content">
		<ul class="item-list">
			<li>
				<div class="media">
					<img src="/images/icon_bankcard.png" alt="">
				</div>
				<div class="label">兴业银行<span class="gray">(****9980)</span></div>
				<div class="form-control">
						<i class="angle right icon"></i>
				</div>
			</li>
			<li>
				<div class="label">输入金额</div>
				<div class="form-control">
					52.40
				</div>
			</li>			
		</ul>		
	</div>
	<div class="sg-footer">
		<button class="ui submit-btn" id="submit">
			确认支付
		</button>
		<button class="ui normel-btn" id="cancel">
			取消
		</button>		
	</div>
</div>