<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<link rel="stylesheet" href="/stylesheets/common.css"> 
<!-- <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script src="/js/lib/jquery-1.11.2.min.js"></script>
<script src="/js/lib/hogan-3.0.1.min.js"></script>
