<link rel="stylesheet" href="/stylesheets/statement.css">
<div class="header">
	<i class="angle double left icon"></i>
</div> 
<div class="item-list-box switch">
	<ul class="item-list">
		<li>
			<div class="label">缴费提醒</div>
			<div class="form-control">
				<label class="label-switch">
					<input type="checkbox" class="control switch">
					<div class="checkbox"></div>
				</label>
			</div>
		</li>
		<li>
			<div class="label">保存账号</div>
			<div class="form-control">
				<label class="label-switch">
					<input type="checkbox" class="control switch">
					<div class="checkbox"></div>
				</label>
			</div>
		</li>
	</ul>
</div>


<div class="item-list-box">
	<div class="item-header">
		<span class="media">
		<img src="/images/icon_water.png" alt="">
	</span> 自来水缴费
	</div>
	<div class="center-icon">
			<div class="media">
				<img src="/images/icon_arrearage.png" alt="">
			</div>
			<div class="state">
				暂未查询到欠费
			</div>		
	</div>	
	<div>
			<ul class="item-list">
		<li>
			<div class="label">户名</div>
			<div class="form-control">
				8484284
			</div>
		</li>	
		<li>
			<div class="label">缴费户号</div>
			<div class="form-control">
				8484284
			</div>
		</li>
		<li>
			<div class="label">住址信息</div>
			<div class="form-control">
				8484284
			</div>
		</li>
		<li>
			<div class="label">备注名</div>
			<div class="form-control">
				8484284
			</div>
		</li>	
		<li>
			<div class="label">欠费月份</div>
			<div class="form-control">
				8484284
			</div>
		</li>					
	</ul>
	</div>
</div>
<div class="btn-box">
	<button class="ui submit-btn">确认</button>	
</div>
