<link rel="stylesheet" href="/stylesheets/statement.css">

<div class="main-box">
	<div class="header">
		<i class="angle double left icon"></i>
	</div>
	<div class="item-list-box switch">
		<ul class="item-list">
			<li>
				<div class="label">缴费提醒</div>
				<div class="form-control">
					<label class="label-switch">
						<input type="checkbox" class="control switch">
						<div class="checkbox"></div>
					</label>
				</div>
			</li>
			<li>
				<div class="label">保存账号</div>
				<div class="form-control">
					<label class="label-switch">
						<input type="checkbox" class="control switch">
						<div class="checkbox"></div>
					</label>
				</div>
			</li>
		</ul>
	</div>
	<!-- 欠费账单信息 -->
	<div id="item-list"></div>
	<!-- 缴费户号等基本信息 -->
	<div id="baseInfo-content"></div>	
	
	<div class="submit-box">
		<div class="content">
			<div class="name">
				合计金额
			</div>
			<div class="des">
				&yen;<span class="price">52.40</span><span class="note">(含所有账单)</span>
			</div>
		</div>
		<button id="sumbit">确认付款</button>
	</div>	
</div>
<script type="text/template" id="item">
	<div class="item-list-box">
		<div class="item-header">
			<span class="media">
					<img src="/images/icon_naturalgas.png" alt="">
			</span> 2016年8月天然气账单
		</div>
		<div>
			<ul class="item-list">
				<li>
					<div class="label">单号</div>
					<div class="form-control">
						8484284
					</div>
				</li>
				<li>
					<div class="label">缴费号</div>
					<div class="form-control">
						8484284
					</div>
				</li>
				<li>
					<div class="label">起码</div>
					<div class="form-control">
						{{startNum}}
					</div>
				</li>
				<li>
					<div class="label">止码</div>
					<div class="form-control">
						{{endNum}}
					</div>
				</li>
				<li>
					<div class="label">月用费</div>
					<div class="form-control">
						{{totalPowe}}
					</div>
				</li>
				<li>
					<div class="label">欠费额</div>
					<div class="form-control light">
						{{shouldMoney}}
					</div>
				</li>
				<li>
					<div class="label">违约金</div>
					<div class="form-control light">
						{{punishMoney}}
					</div>
				</li>
				{{#balance}}
				<li>
					<div class="label">上次余额</div>
					<div class="form-control light">
						{{balance}}
					</div>
				</li>	
				{{/balance}}
				<li>
					<div class="label">小计金额</div>
					<div class="form-control light">
						{{money}}
					</div>
				</li>
			</ul>
		</div>
	</div>
</script>
<script type="text/template" id="baseInfo">
	<div class="item-list-box">
		<ul class="item-list">
			<li>
				<div class="label">缴费户号</div>
				<div class="form-control">
					8484284
				</div>
			</li>
			<li>
				<div class="label">住址信息</div>
				<div class="form-control">
					8484284
				</div>
			</li>
			<li>
				<div class="label">备注名</div>
				<div class="form-control">
					8484284
				</div>
			</li>
			<li>
				<div class="label">欠费月份</div>
				<div class="form-control">
					8484284
				</div>
			</li>
			<li>
				<div class="label">自动缴费</div>
				<div class="form-control">
					关
				</div>
			</li>
		</ul>
	</div>
</script>
<script>	
	$(document).ready(function($){
		//$("#night").append($("#boardwalk").clone());		
		$("#sumbit").click(function(){
			//$("#night").show();
		})
		//确认支付
		$("#night").on("click","#submit",function(){
			console.log('Todo')
		});				
		//取消
		$("#night").on("click","#cancel",function(){
			//$("#night").fadeOut("fast");
		});	
		
		var _data = {};
		_data.openId = window.localStorage.getItem('openId');	
		_data.userNo = window.localStorage.getItem('userNo');		
		
		$.ajax({
			type: 'POST',
			url: '/wechat/queryGasBill',
			dataType: "json",
			data: _data,		
			success: function (data, status) {
				console.log(data);
			},
			error: function (data, status) {

			}
		});		
		
		//render
		var data = {

		}

		//缴费户号等基本信息
		function baseInfo(data) {
				var text = $("#baseInfo").text();
				var template = Hogan.compile(text);
				var render = template.render(data);
				$("#baseInfo-content").html(render);			
		}		
		baseInfo(data);
		//欠费账单信息
		function itemInfo(data) {
				var text = $("#item").text();
				var template = Hogan.compile(text);
				var render = template.render(data);
				$("#item-list").html(render);			
		}				
		itemInfo(data);
		
  });
</script>