.submit-toolbar {
  cursor: pointer;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  text-align: center;
}
.item-board {
  background-color: #fff;
  padding-left: 12px;
}
.item-board .item-link {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: solid 1px #ddd;
}
.item-board .item-link {
  height: auto;
}
.item-board .item-link .item-inner {
  padding: 10px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 20px;
  line-height: 1.25rem;
  vertical-align: middle;
}
.item-board .item-link .item-inner .main {
  padding: 0 8px;
  width: 120px;
  width: 7.5rem;
  font-size: 14px;
}
.item-board .item-link .item-inner .item-title {
  position: relative;
}
.item-board .item-link .item-inner .item-title:before {
  content: "";
  border-right: solid 1px #ddd;
  display: inline-block;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
}
.item-board .item-link .item-inner .item-note {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #a6a6a6;
  font-size: 14px;
}
.item-board .item-link .item-inner .item-hint {
  color: #a6a6a6;
}
.item-board .btn {
  padding: 10px;
  padding: 0.625rem;
  height: 100%;
  float: right;
}
.item-board .btn.delete {
  margin-right: -12px;
}
.item-board i.delete {
  position: relative;
}
.item-board i.delete:before {
  content: "";
  border-left: solid 1px #ccc;
  position: absolute;
  height: 100%;
  width: 1px;
  left: 0;
  top: 0;
  margin-left: -10px;
  margin-left: -0.625rem;
}
.item-board i.edit,
.item-board i.delete {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.item-board i.edit {
  background-image: url(/images/icon_pen.png);
}
.item-board i.delete {
  background-image: url(/images/icon_delete.png);
}
