/* normalize */
@import '../semantic-ui-icon/icon.css';
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Microsoft Yahei UI", "Microsoft Yahei", SimSun, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  background: transparent;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
form {
  margin: 0;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
input,
select,
textarea,
button {
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: middle;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
a {
  *color: expression(this.parentNode.currentStyle.color);
}
hr {
  border: none;
  height: 1px;
}
/* HTML5 display definitions */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-size: 16px;
}
body {
  font-size: 16px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 17.06666667px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 17.664px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 20.48px !important;
  }
}
@media only screen and (min-width: 520px) {
  html {
    font-size: 22.18666667px !important;
  }
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  background-color: #e6e6e6;
}
.views {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 200;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
button {
  background: none;
}
a.link,
span.link {
  color: #20a4f0;
}
i.icon {
  margin: 0;
}
.header {
  background-color: #fff;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  width: 100%;
  padding-left: 12px;
  border-bottom: solid 1px #ddd;
  position: relative;
  z-index: 80;
}
.header .link {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}
.main-board {
  padding: 12px;
}
.wrapper {
  padding-top: 12px;
}
.item-link {
  height: 50px;
  height: 3.125rem;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-link > .item-media {
  line-height: 0;
}
.item-link > .item-media > img {
  height: 30px;
  height: 1.875rem;
  width: auto;
}
.item-link > .item-title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 8px;
}
.item-link .icon {
  color: #a6a6a6;
  font-size: 20px;
}
.submit-btn {
  background-color: #20a4f0;
  color: #fff;
  border: solid 1px #20a4f0;
  height: 36px;
  height: 2.25rem;
  width: 100%;
  border-radius: 4px;
}
.normel-btn {
  background-color: transparent;
  border: solid 1px #20a4f0;
  height: 36px;
  height: 2.25rem;
  width: 100%;
  border-radius: 4px;
  color: #20a4f0;
}
/* 辅助类 */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.block {
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  color: #a6a6a6;
  padding-left: 12px;
  padding-right: 12px;
}
.hide {
  visibility: hidden;
}
.item-list-box {
  background-color: #fff;
}
.item-list-box .item-list {
  padding-left: 12px;
  padding-right: 12px;
}
ul.item-list li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24px;
  border-bottom: solid 1px #ddd;
}
ul.item-list li:last-child {
  border-bottom: 0;
}
ul.item-list li > .media > img {
  height: 30px;
  height: 1.875rem;
  width: auto;
  vertical-align: middle;
  margin-right: 8px;
}
ul.item-list li > .form-control {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  margin-left: 8px;
}
ul.item-list li > .form-control > a {
  color: #20a4f0;
}
.label-switch {
  display: inline-block;
  vertical-align: middle;
  width: 2.6rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
  height: 1.6rem;
  position: relative;
  cursor: pointer;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.label-switch .checkbox {
  width: 2.6rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
  height: 1.6rem;
  background: #e5e5e5;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.label-switch .checkbox:before {
  content: ' ';
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  width: 2.4rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
  height: 1.4rem;
  background: #fff;
  z-index: 1;
  transition-duration: 300ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.label-switch .checkbox:after {
  content: ' ';
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 1.4rem;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 0.1rem;
  left: 0.1rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition-duration: 300ms;
}
.label-switch input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 2.6rem;
  height: 1.6rem;
  left: 0;
  top: 0;
  z-index: 1;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #4cd964;
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
  -webkit-transform: translateX(1.1rem);
  transform: translateX(1.1rem);
}
#night {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}
