@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";

@mobile:      ~"only screen and (max-width: 528px)";
@lt480:       ~"only screen and (max-device-width :480px)";
@gt480:       ~"only screen and (min-device-width :482px)";
  
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 948px)";

@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";

@desktop-xl:  ~"only screen and (min-width: 1130px)";

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@iphone4: ~ "only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)";

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@iphone5: ~ "only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)";

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@iphone6: ~ "only screen and (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2)";

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@iphone6plus: ~ "only screen (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3)";

/* ----------- 魅族 ----------- */
@MEIZU: ~ "only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 2.5)";

/* ----------- 华为mate7 ----------- */
@mate7: ~ "only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 3)";

