.item-board {
  background-color: #fff;
}
.item-board .item-link {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: solid 1px #ddd;
}
.item-board .item-link {
  height: auto;
  padding: 10px 0;
}
.item-board .item-link .item-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 20px;
  line-height: 1.25rem;
  vertical-align: middle;
}
.item-board .item-link .item-inner .main {
  padding: 0 8px;
  font-size: 14px;
}
.item-board .item-link .item-inner .item-note {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #a6a6a6;
  font-size: 14px;
}
.item-board .item-link .item-inner .item-hint {
  color: #a6a6a6;
}
.item-board .item-link .item-inner .item-hint span {
	word-break: break-all;
}
.item-board .item-link .item-right {
  font-size: 14px;
	min-width: 80px;
	padding-right: 6px;
}
.item-board .item-link .item-right i.icon {
  font-size: 17px;
  vertical-align: -1px;
}
.item-board .item-link .item-right .state {
  margin-bottom: 4px;
}
.item-board .item-link .item-right .time {
  color: #a6a6a6;
  font-size: 12px;
}
.item-board .divide {
  margin-left: 6px;
  margin-right: 6px;
}
.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.header {
	position: fixed;
  top: 0;
  left: 0;
	width: 100%;
}
.views {
   padding-top: 40px;
   padding-bottom: 2.5rem;		
}
.hide {
  display: none;
}
.dropdown {
  display: none;
}
.dropdown ul > li {
  background-color: #fff;
  height: 48px;
  height: 3rem;
  line-height: 48px;
  line-height: 3rem;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom: solid 1px #ddd;
  font-size: 14px;
}
.dropdown ul > li .media > img {
  height: 30px;
  height: 1.875rem;
  width: auto;
  vertical-align: middle;
  margin-right: 8px;
}
.fontBlue
{
  color: blue;
}
.center-icon {
  text-align: center;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  border-bottom: solid 1px #ccc;
}
.center-icon .media {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  line-height: 0;
}
.center-icon .media > img {
  width: 64px;
  height: 64px;
}
.center-icon .state {
  font-size: 14px;
}